@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

.loaderSpin {
  color: #2432f3;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

.loaderSpinBtn {
  width: 24px;
  height: 24px;
  border: 5px solid #fff;
  border-bottom-color: #3d34c7;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
      -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
      -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
      -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

html,
body {
  font-family: 'Poppins', sans-serif;
}
html,
body {
  height: 100%;
}
html {
  box-sizing: border-box;
}

#root {
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(228, 230, 242, 1) 100%,
    rgba(193, 198, 225, 1) 100%,
    rgba(228, 230, 242, 1) 100%
  );
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@layer components {
  .btn {
    @apply block p-3 mb-3 text-center text-white rounded-[4px] transition-colors;
  }

  .btn-template-1 {
    @apply text-xl bg-[#31429B] hover:bg-dark-blue-600;
    letter-spacing: 0.1px;
    font-weight: 500;
  }

  .btn-template-2 {
    @apply text-xl bg-[#F0F8FF] hover:bg-[#e3ebf2];
    letter-spacing: 0.1px;
    font-weight: 500;
    color: #2e4bdf !important;
    border: 1px solid #2e4bdf !important;
  }
}

.bg-purple {
  background: #8b9eff;
}

[multiple],
[type='date'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
input:where(:not([type])),
select,
textarea {
  appearance: none;
  border-width: 1px;
  padding: 0.94rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 4px;
}

[multiple]:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='email']:focus,
[type='month']:focus,
[type='number']:focus,
[type='password']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='text']:focus,
[type='time']:focus,
[type='url']:focus,
[type='week']:focus,
input:where(:not([type])):focus,
select:focus,
textarea:focus {
  outline: 2px solid #0000;
  outline-offset: 1px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
    var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: #2563eb;
}

.container-gerente {
  display: flex;
  justify-content: space-between;

  /* max-height: 100vh; */
}

.addVehicle,
.new-profile-continer,
.container-new-vehicle,
.empleados {
  background-color: white;
}

@media (min-width: 1630px) {
  .query-menu {
    min-width: 18%;
  }
}
@media (max-width: 1200px) {
  .query-menu {
    width: 30%;
  }

  .query-empleado {
    min-width: 20%;
  }
}

@media (max-width: 1100px) {
  .query-empleado {
    display: none;
  }
  .query-menu {
    width: 30%;
  }
  .c-newprofile {
    width: 100%;
  }
}

span.error {
  color: #cb0000;
  outline: 0;
  padding-left: 5px;
  padding-top: 5px;
  display: block;
}
