
.Mostrar-title{
margin-top: 25px;
margin-left: 7rem;

} 
.Mostrar-container{
    gap: 100px;
}

.title-error{
    color: red;
    font-size: 15px;
}

.icono{
    /* margin-right: -5rem; */
}


@media screen and (min-width: 768px){
    
    .Mostrar-title{
    
    margin-left: 20rem;
    
    } 

}


