.homeSwiper {
  /* outline: 1px solid red; */
}

.swiper-container {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  min-height: 0;
  min-width: 0;
}

.homeSwiper .swiper-slide {
  /* center text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;
  height: 100%;
  max-height: 100%;
}

.homeSwiper .swiper-wrapper {
  align-items: center;
}

.homeSwiper .swiper-button-prev,
.homeSwiper .swiper-button-next {
  width: 33px;
  height: 58px;
  color: #dfe6ec;
}

.homeSwiper .swiper-button-prev:after,
.homeSwiper .swiper-button-next:after {
  font-size: 27px;
}

.homeSwiper .swiper-pagination-bullets {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeSwiper .swiper-pagination-bullet {
  position: relative;
  width: 35px;
  height: 35px;
  opacity: 1;
  background: none;
  border-radius: 0;
}

.homeSwiper .swiper-pagination-bullet:after {
  content: '';
  position: absolute;
  left: 52%;
  top: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  background: url("data:image/svg+xml,%3Csvg width='60' height='68' viewBox='0 0 60 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_591_1501)'%3E%3Cpath d='M25.9324 2.4463C25.9324 2.4463 7.06972 10.8448 5.04871 11.7577C3.0277 12.6705 2.01719 14.8615 2.01719 17.0524C2.01719 19.2433 0.501442 47.8317 25.9324 61.6542C25.9324 61.6542 28.2406 62.3465 29.9917 61.6542C31.7428 60.9619 53.9739 49.277 53.9739 16.9611C53.9739 16.9611 53.9739 13.6747 50.4371 11.849C46.9004 10.0232 29.8007 2.4463 29.8007 2.4463C29.8007 2.4463 27.7008 1.44213 25.9324 2.4463Z' fill='%232E4BDF'/%3E%3Cpath d='M44.5455 27.8766C44.5455 32.6279 42.8023 37.1845 39.6994 40.5442C36.5965 43.9039 32.3881 45.7913 28 45.7913C23.6119 45.7913 19.4035 43.9039 16.3006 40.5442C13.1977 37.1845 11.4545 32.6279 11.4545 27.8766C11.4545 27.3088 11.4797 26.7501 11.5274 26.1974C11.9261 21.612 13.9406 17.3689 17.1526 14.3493C20.3645 11.3297 24.5272 9.76557 28.7763 9.98166C33.0253 10.1977 37.0342 12.1775 39.9707 15.5097C42.9071 18.842 44.5454 23.2708 44.5455 27.8766Z' fill='%232E4BDF'/%3E%3Cpath d='M34.2912 29.3765C33.779 28.6571 33.1053 28.0873 32.3324 27.7198C31.3791 27.2905 30.3947 26.945 29.3888 26.6867V20.5418C30.9349 20.7909 32.385 21.4973 33.575 22.5812L34.7425 19.922C34.071 19.2828 33.3002 18.774 32.4648 18.4183C31.5389 18.0177 30.567 17.7513 29.575 17.6263V14.5117H26.8714V17.6569C25.8274 17.7822 24.8203 18.1435 23.9171 18.7167C23.1012 19.2327 22.4143 19.9521 21.9152 20.8135C21.4389 21.6541 21.1921 22.6202 21.2027 23.6028C21.1561 24.6676 21.4449 25.7183 22.0227 26.5872C22.5546 27.3395 23.257 27.9347 24.0638 28.3167C25.0323 28.7586 26.0337 29.1131 27.0576 29.3765V35.2651C25.2331 35.118 23.4946 34.3769 22.0764 33.1415L20.9091 35.8045C21.702 36.505 22.6038 37.0515 23.5733 37.4192C24.6357 37.8254 25.7456 38.0726 26.8714 38.1538V41.2416H29.575V38.0964C31.0767 37.9211 32.485 37.2312 33.5893 36.1298C34.0756 35.6314 34.4598 35.0307 34.7175 34.3654C34.9751 33.7002 35.1007 32.9851 35.0862 32.2653C35.1311 31.2345 34.8512 30.2173 34.2912 29.3765ZM27.0576 26.0362C26.399 25.8228 25.7867 25.4717 25.2563 25.0032C25.0462 24.8034 24.88 24.5564 24.7698 24.2798C24.6596 24.0033 24.6081 23.7041 24.619 23.4038C24.5994 22.7223 24.8338 22.0604 25.2706 21.5634C25.755 21.042 26.3798 20.6955 27.0576 20.5724V26.0362ZM31.0863 34.1784C30.6294 34.679 30.0345 35.0102 29.3888 35.1235V30.0576C30.006 30.2345 30.5834 30.543 31.0863 30.9644C31.2769 31.1383 31.4283 31.356 31.5294 31.601C31.6304 31.8461 31.6785 32.1124 31.6699 32.3801C31.6948 33.0368 31.4863 33.6792 31.0863 34.1784Z' fill='%232E4BDF'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_591_1501' x='0' y='0' width='60' height='68' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='2' dy='2'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_591_1501'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_591_1501' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A")
    no-repeat center / contain;
}

.homeSwiper .swiper-pagination-bullet-active:after {
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='68' viewBox='0 0 60 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Component 20' filter='url(%23filter0_d_591_1509)'%3E%3Cpath id='Vector' d='M25.9324 2.4463C25.9324 2.4463 7.06972 10.8448 5.04871 11.7577C3.0277 12.6705 2.01719 14.8615 2.01719 17.0524C2.01719 19.2433 0.501442 47.8317 25.9324 61.6542C25.9324 61.6542 28.2406 62.3465 29.9917 61.6542C31.7428 60.9619 53.9739 49.277 53.9739 16.9611C53.9739 16.9611 53.9739 13.6747 50.4371 11.849C46.9004 10.0232 29.8007 2.4463 29.8007 2.4463C29.8007 2.4463 27.7008 1.44213 25.9324 2.4463Z' fill='%23DFE6EC'/%3E%3Cpath id='Vector_2' d='M44.5455 27.8766C44.5455 32.6279 42.8023 37.1845 39.6994 40.5442C36.5965 43.9039 32.3881 45.7913 28 45.7913C23.6119 45.7913 19.4035 43.9039 16.3006 40.5442C13.1977 37.1845 11.4546 32.6279 11.4546 27.8766C11.4546 27.3088 11.4798 26.7501 11.5274 26.1974C11.9261 21.612 13.9406 17.3689 17.1526 14.3493C20.3646 11.3297 24.5272 9.76557 28.7763 9.98166C33.0253 10.1977 37.0343 12.1775 39.9707 15.5097C42.9071 18.842 44.5454 23.2708 44.5455 27.8766Z' fill='%23DFE6EC'/%3E%3Cpath id='Vector_3' d='M34.2912 29.3765C33.779 28.6571 33.1053 28.0873 32.3324 27.7198C31.3791 27.2905 30.3947 26.945 29.3888 26.6867V20.5418C30.9349 20.7909 32.385 21.4973 33.575 22.5812L34.7425 19.922C34.071 19.2828 33.3002 18.774 32.4648 18.4183C31.5389 18.0177 30.567 17.7513 29.575 17.6263V14.5117H26.8714V17.6569C25.8274 17.7822 24.8203 18.1435 23.9171 18.7167C23.1012 19.2327 22.4143 19.9521 21.9152 20.8135C21.4389 21.6541 21.1921 22.6202 21.2027 23.6028C21.1561 24.6676 21.4449 25.7183 22.0227 26.5872C22.5546 27.3395 23.257 27.9347 24.0638 28.3167C25.0323 28.7586 26.0337 29.1131 27.0576 29.3765V35.2651C25.2331 35.118 23.4946 34.3769 22.0764 33.1415L20.9091 35.8045C21.702 36.505 22.6038 37.0515 23.5733 37.4192C24.6357 37.8254 25.7456 38.0726 26.8714 38.1538V41.2416H29.575V38.0964C31.0767 37.9211 32.485 37.2312 33.5893 36.1298C34.0756 35.6314 34.4598 35.0307 34.7175 34.3654C34.9751 33.7002 35.1007 32.9851 35.0862 32.2653C35.1311 31.2345 34.8512 30.2173 34.2912 29.3765ZM27.0576 26.0362C26.399 25.8228 25.7867 25.4717 25.2563 25.0032C25.0462 24.8034 24.88 24.5564 24.7698 24.2798C24.6596 24.0033 24.6081 23.7041 24.619 23.4038C24.5994 22.7223 24.8338 22.0604 25.2706 21.5634C25.755 21.042 26.3798 20.6955 27.0576 20.5724V26.0362ZM31.0863 34.1784C30.6294 34.679 30.0345 35.0102 29.3888 35.1235V30.0576C30.006 30.2345 30.5834 30.543 31.0863 30.9644C31.2769 31.1383 31.4283 31.356 31.5294 31.601C31.6304 31.8461 31.6785 32.1124 31.6699 32.3801C31.6948 33.0368 31.4863 33.6792 31.0863 34.1784Z' fill='%23DFE6EC'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_591_1509' x='0' y='0' width='60' height='68' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='2' dy='2'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_591_1509'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_591_1509' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
}
